<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Clusters"
        tools:replace="android:allowBackup">
        <activity
            android:name=".Activites.TermsandConditionsActivity"
            android:exported="false" />
        <activity
            android:name=".Activites.ImageSliderActivity"
            android:exported="false" />
        <activity
            android:name=".Activites.ChangePassordActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activites.InvoiceVIiewActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activites.AboutUsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activites.ContactUsActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Clusters.NoActionBar" />
        <activity
            android:name=".Activites.PracticeActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activites.CheckOutActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activites.MyOrdersActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activites.UserManagementActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activites.BooknowActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activites.CartActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activites.BookingsinfoActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activites.ProfileActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activites.ConfirmPassordActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activites.OTPActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activites.ForgetPasswordActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activites.EventsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activites.SignUpActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activites.HomeActivity"
            android:exported="true"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activites.HomeMainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activites.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <meta-data
            android:name="com.google.firebase.components:com.google.firebase.iid.Registrar"
            android:value="com.google.firebase.components.ComponentRegistrar" />

        <service
            android:name=".FCm.FirebaseMessageService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Activites.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>